@font-face {
    font-family: 'Muli';
    src: url('../assets/font/Muli.ttf');
}

@layer base {
    h1 {
    @apply text-2xl;
  }
    h2 {
    @apply text-xl;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;